<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="SnapBox $(var.Version)"
           Language="1033"
           Version="$(var.InstallerVersion)"
           Manufacturer="BurnettSoft"
           UpgradeCode="73806b93-4455-412d-ad51-a401e59e2734"
           Scope="perMachine">
    <MajorUpgrade Schedule="afterInstallExecute"
                  DowngradeErrorMessage="A more recent version of SnapBox is already installed. Setup will now exit." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="WINDOWSBUILD">
      <RegistrySearch Id="WindowsBuildSearch"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                      Name="CurrentBuildNumber"
                      Type="raw"
                      Bitness="always64" />
    </Property>

    <Launch Condition="Installed OR (VersionNT64 AND WINDOWSBUILD >= 17763)"
            Message="SnapBox requires 64-bit Windows 10 version 1809 or higher." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="APPLICATIONFOLDER" Name="SnapBox" />
    </StandardDirectory>

    <Feature Id="SnapBox" Title="SnapBox" Level="1" AllowAdvertise="no" TypicalDefault="install">
      <File Id="SnapBoxExecutable"
            Directory="APPLICATIONFOLDER"
            Source="$(var.SnapBox.TargetPath)"
            KeyPath="yes"
            Vital="yes">
        <Shortcut Id="StartMenuShortcut"
                  Directory="ProgramMenuFolder"
                  Name="SnapBox"
                  Description="SnapBox"
                  Advertise="yes"
                  WorkingDirectory="APPLICATIONFOLDER" />
      </File>
      <File Id="WindowsAppRuntimeBootstrapper"
            Directory="APPLICATIONFOLDER"
            Source="$(var.SnapBox.TargetDir)Microsoft.WindowsAppRuntime.Bootstrap.dll"
            Vital="yes" />
      <File Id="LicenseFile" Directory="APPLICATIONFOLDER" Source="..\Distribution\license.rtf" />
      <File Id="XercesLicenseFile"
            Directory="APPLICATIONFOLDER"
            Source="$(var.XercesLicensePath)"
            Name="xerces.txt" />
    </Feature>
    <Feature Id="AutoStart" Title="Start SnapBox With Windows" Level="1" AllowAdvertise="no" TypicalDefault="install">
      <Component Id="StartupShortcut" Directory="StartupFolder">
        <Shortcut Id="StartupShortcut"
                  Name="SnapBox"
                  Description="SnapBox"
                  Target="[APPLICATIONFOLDER]SnapBox.exe"
                  Arguments="-q"
                  WorkingDirectory="APPLICATIONFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\BurnettSoft\SnapBox"
                       Name="startup"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </Feature>
    <Feature Id="DesktopShortcut" Title="Desktop Shortcut" Level="2" AllowAdvertise="no" TypicalDefault="install">
      <Component Id="DesktopShortcut" Directory="DesktopFolder">
        <Shortcut Id="DesktopShortcut"
                  Name="SnapBox"
                  Description="SnapBox"
                  Target="[APPLICATIONFOLDER]SnapBox.exe"
                  WorkingDirectory="APPLICATIONFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\BurnettSoft\SnapBox"
                       Name="desktop"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="..\Distribution\license.rtf" />
    <Property Id="ApplicationFolderName" Value="SnapBox" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch SnapBox" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <UI>
      <ui:WixUI Id="WixUI_Advanced" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication"
               Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed" />
    </UI>

    <Property Id="WixShellExecTarget" Value="[#SnapBoxExecutable]" />
    <CustomAction Id="LaunchApplication"
                  BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
                  DllEntry="WixShellExec"
                  Impersonate="yes" />

    <Icon Id="SnapBoxIcon" SourceFile="..\SnapBox\SnapBox.ico" />
    <Property Id="ARPPRODUCTICON" Value="SnapBoxIcon" />
  </Package>
</Wix>
